<p id="notice"></p>

<div class="container">
  <div class="row">
    <div class="col-sm-12 cpl-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>Editing Book</h2>
        <% if @book.errors.any? %>
        <%= @book.errors.count %>件のerrorが発生しました
       <ul>
        <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
       </ul>
       <% end %>


      <%= form_with model: @book do |f| %>
      <div class="form-group">
       <label for="inputTitle">Title</label>
        <p><%= f.text_field :title, autofocus: true, id:"inputTitle"%></p>
      </div>

      <div class="form-group">
       <label for="inputBody">Opinion</label>
        <p><%= f.text_area :body %> </p>
      </div>
        <%= f.submit "Update Book", class:"btn btn-success" %>
      <% end %>

        <%= link_to'Show',book_path(@book.id) %>
         |
        <%= link_to'Back',books_path %>
    </div>
  </div>
</div>